

<main>


  <div class="row">
    <div class="col-xs-12 border_div">
        <form  *ngIf="ResetForm" (ngSubmit)="onSubmit()" [formGroup]="ResetForm" > 
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="email">Verify Your Email: </label>
                <input type="email" id='email' class="form-control" [formControlName]="'email'">
                <span class='help-block' *ngIf="!ResetForm.get('email').valid && ResetForm.get('email').touched">Please Enter a valid Email.</span>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-xs-12">

                  <button type="submit" [disabled]="!ResetForm.valid" class="btn btn-success">Send Email</button>
                </div>
            </div>
        </form>
    </div>
  
  </div>
  
  </main>