
main{
    padding: 1rem;
    padding-top: 10%;
   
   
}

.centered {
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    margin: 0 0.25rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}
#ng_template{
    margin: auto;
    font-family: 'Lora', serif;
    font-weight: bolder;
    width: 35rem;
    max-width: 25%;
  }

.orders {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 25%;
    width: 50%;
  }
  
  .orders__item h1 {
      margin: 0;
      font-size: 1rem;
  }

  .orders__item h1 a {
    font-size: 2rem;
    cursor: pointer;
}
  
  .orders__item {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .orders__products {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .orders__products-item {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border: 1px solid #00695c;
      color: #00695c;
  }
  


  @media (max-width: 994px) {
    main{
        padding-top: 20%;
    }
}




