
.signup{
    border: 3px solid #f1f1f1;
    padding-bottom: 1%;
    padding-top: 2%;
}

* {box-sizing: border-box}

main{
    margin-top: 5.5%;
    width:50%;
    margin-left:20%;
}

/* Full-width input fields */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
} */

input:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color:#ff8533;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  background-color:#ff8533;

}



/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img.avatar {
    float: right;
    width: 20%;
    margin-right: 12%;
    margin-top:5% 
  }

input.ng-invalid.ng-touched{
    border: 1px solid red;
}
@media only screen and (max-width: 1280px) {
    main {
        margin-top: 15%;
       
    }
  }


  @media only screen and (max-width: 990px) {
    main {
        margin-top: 20%;

    }
  }

  @media only screen and (max-width: 800px) {
    img.avatar {
        margin-top: 20%;
        margin-right:3%;
        
    }
  }