

<main class='main_1'>
  <p class="quate" style="color:darkorange;padding-top:5%;font-family:'Roboto Condensed', sans-serif;font-size: 30px;text-align: center;">Food for the body is not enough.There must be food for the soul.
    <br>"Eat Well, Live Well"</p>
  <main class='main_2'>

    <img  class="Himage" src="http://localhost:3000/images/food.png" alt="Check your Connection" height="570" width="500" style="padding-top: 3.5%; float:left">  
  <div id="slidy-container">
    
    <figure id="slidy">
      <img src="http://localhost:3000/images/home_image_2.jpg" alt="Check your Connection" >
      <img src="http://localhost:3000/images/home_image_1.jpg" alt="Check your Connection" >
      <img src="http://localhost:3000/images/home_image_3.jpg" alt="Check your Connection" >
      <img src="http://localhost:3000/images/home_image_4.jpg" alt="Check your Connection" >
    </figure>
  </div>

  </main>

  <div id='footer_div'>
      <footer>
      
      
          
        
          <!-- Social buttons -->
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item social_media_links" id="social_links">
              <a href="https://www.facebook.com/foodwayisb/">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item social_media_links">
              <a href="https://twitter.com/FoodWayisb" class="btn-floating btn-tw mx-1">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
         
            <li class="list-inline-item social_media_links">
              <a href="https://www.instagram.com/foodwayisb/" class="btn-floating btn-dribbble mx-1">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div style="color:orange">
            <ul class="list-unstyled list-inline text-center py-2">
              <li class="list-inline-item">
                <h4 class="mb-1" style="font-family: 'Lora', serif;">Register for free:</h4>
              </li>
              <br>
              <li class="list-inline-item">
                <a [routerLink]="['/Signup']" class="btn btn-rounded" style="font-family: 'Lora', serif;background-color: green;color: white;">Sign up!</a>
              </li>
            </ul>
          </div>
          <!-- Social buttons -->
        
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            <p> © {{year}} Food Way</p> 
           
          </div>
          <!-- Copyright -->

          <h1 style=" text-align:center;font-family:'Yeon Sung', cursive;" class="font-weight-bold text-uppercase mt-3 mb-4">Food Way</h1>
          <p  style="text-align:center;font-family:'Roboto Condensed', sans-serif;">If you have good food, people will come to your restaurant.

            ~Mickey Gilley</p>
        
        </footer>
        <!-- Footer -->

      </div>  
      
            <!-- Content -->
           
            
          
            
    
          
</main>

